body {
	color:black;
	font-family: ff-nexus-typewriter,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 42px;
}

a {
	color: black;
}


.nav {
	font-size:0.8vw;
	display: inline-flex;
}


::selection {
  background: blue;
  color: lime;
}

::-webkit-scrollbar {
  display: none;
}

.title {
	color: black;
	font-size:10px;
	margin-top: 20%;
	margin-left: 10%;
	position: fixed;
	display: inline-flex;
}

.col {
	padding: 10px;
}

.articleimage1 {
	width:60%;
	height: auto;
	filter: grayscale(30);
	position: absolute;
	margin-top: 30px;
	margin-left: 500px;
}

.articleimage2 {
	width:60%;
	height: auto;
	filter: grayscale(30);
	position: absolute;
	margin-top: 830px;
	margin-left: 500px;
}

.articleimage3 {
	width:60%;
	height: auto;
	filter: grayscale(30);
	position: absolute;
	margin-top: 1630px;
	margin-left: 500px;
}





h1 {
	font-size: 25px;
	line-height: 5vw;
	letter-spacing: -2px;
	text-align: center;
	padding: 300px;
	text-decoration: underline;
	font-weight: bolder;
}

h2 {
	background-color: black;
	color:white;
	width: 100%;
	font-size: 60px;
	line-height: 65px;
	font-family: alternate-gothic-compressed, sans-serif;
	padding: 40px;

}

h3 {
	font-size: 15px;
	line-height: 42px;
}

p {
	line-height: 42px;
	padding: 40px;	
	text-indent: 200px;
	-webkit-text-stroke: 1px black;
	text-shadow: 1px 0px black;
}


.footnote p {
	font-family: Georgia, serif;
	font-size: 12px;
	line-height: 20px;
	width: 50%;
	color: gray;
	margin-bottom: 20px;
	text-indent: 0px;
}

.text p {
	text-align: justify;
}


.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 200px;
}


.text p {
	padding-right: 25%;
	padding-left: 25%;
}

.footnote.w1of2 p {
	text-align: right;
	width: 60%;
}



.blocks {
	position: sticky;
	background-color: black;
	color: black;
	width: 58%;
	height: 30px;
	top:200px;
}

.blocks.one {
	margin-left:600px;
	top:200px;	
}

.blocks.two {
	top:400px;
}