body {
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 20px;
	background-color: blue;

}


.backgroundcolor{
	height:auto;
  	width:100%;
  	position:absolute;
}



span {
	
}


.date{
	color:yellow;
	position: fixed;
	top:50%;
	left:25%;
	font-family: Times New Roman, Times, serif;
	font-weight: bold;

}

.title{
	color:yellow;
	position: fixed;
	top:50%;
	left:45%;
	font-family: Times New Roman, Times, serif;
	font-weight: bold;

}

.mada{
	color:yellow;
	position: fixed;
	top:50%;
	left:75%;
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
}



.message1{
	color:chartreuse;
	font-size: 200px;
	position:absolute;
	top:20px;
	left:0px;
}

.message2{
	color:blue;
	text-shadow: 20px 10px 10px chartreuse;
	font-size: 250px;
	position:absolute;
	top:420px;
	left:0%;
}

.message3{
	color:chartreuse;
	font-size: 200px;
	position:absolute;
	top:710px;
	right: 40px;
}


.message4{
	color:chartreuse;
	font-size: 200px;
	background-color: yellow;
	width: 100%;
	position:absolute;
	top:950px;
	left:0px;
}

.message5{
	color:chartreuse;
	font-size: 200px;
	position:absolute;
	top:1200px;
	left:0px;
}


.message6{
	color:blue;
	text-shadow: 20px 10px 10px chartreuse;
	font-size: 180px;
	position:absolute;
	top:1600px;
	left:0px;
}