body {
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 15px;

}


a {
	color:red;
}




.links {
	position:fixed;
	left:35%;
	margin-top:15%;

}

.links a {
	text-decoration:none;
	border:4px solid cyan;
	text-align:center;
	color:blue;
	text-shadow:0px 0px 20px white;
	display:block;
	width:100%;
	height:100%;
	
}


.tag{
  font-size:13px;
  position: fixed;
  left:0%;
  text-shadow:0px 0px 20px white;
  color:magenta;
  margin-top: 10px;
  position: absolute;
  display: inline-flex;
  align-content: space-around;
}

.tag1{
  font-size:13px;
  position: fixed;
  left:25%;
  text-shadow:0px 0px 20px white;
  color:magenta;
}

.tag2{
  font-size:13px;
  position: fixed;
  left:50%;
  text-shadow:0px 0px 20px white;
  color:magenta;  
}

.tag3{
  font-size:13px;
  position: fixed;
  left:75%;
  text-shadow:0px 0px 20px white;
  color:magenta;
}









.menu {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.menu:hover {
  background-color: lime;
}

.close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
}

.close.show {
  display: block;
}

.close:hover {
  background-color:lime;
}

.essay {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  font-family: futura;
  position: fixed;
  background-color: magenta;
  right: 0;
  top: 0;
  z-index: 2;
  margin-right: -50%;
  transition: 1s;
}

.essay.slide {
  margin-right: 0;
  transition: 1s;
}

.essay h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 100px;
}

.essay p {
  font-size: 24px;
  padding: 24px;
  font-family: Arial Black, Gadget,sans-serif;
}








.menu1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

.menu1:hover {
  background-color: lime;
}

.close1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
}

.close1.show {
  display: block;
}

.close1:hover {
  background-color:lime;
}

.essay1 {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  font-family: futura;
  position: fixed;
  background-color: magenta;
  left: 0;
  top: 0;
  z-index: 2;
  margin-left: -50%;
  transition: 1s;
}

.essay1.slide {
  margin-left: 0;
  transition: 1s;
}

.essay1 h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 100px;
}

.essay1 p {
  font-size: 24px;
  padding: 24px;
  text-align: right;
  font-family: Arial Black, Gadget,sans-serif;
}







.bg {
	text-align:center;



}

.bg.one {
  display:none;
	
}

.bg.two {
	text-shadow:0px 0px 20px lime;
	display:block;
}

.bg.three {
	display:none;
}

.bg.four {
	display:none;

}

.mid {

}

.mid.one {
	color:lime;
	font-family:times;
}

.mid.two {
	color:lime;
}

.mid.three {
	color:lime;
	font-family:times;
}

.mid.four {
	color:lime;
}


.text {

}

.text.one{
	font-size:200px;
}

.text.two{
	font-size:200px;
}

.text.three{
	font-size:230px;
}

.text.four{
	font-size:250px;
}


