body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.title {
	font-weight: bold;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	padding: 25%;
}

.paragraphs {
	font-size: 15px;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;

}

.subheading {
	font-size: 20px;
	color: red;
	text-align: center;	
	padding-left: 25%;
	padding-right: 25%;
}

.credit {
	font-size: 10px;
}

.footnote {

}