body {
	font-family: Arial Black, Gadget,sans-serif;
	font-size: 20px;
	background-color: white;
}


.backgroundcolor{
	height:auto;
  	width:100%;
  	position:absolute;
}


.col{
	display:inline-block;
	width:33%;
	text-align: center;
	font-size:20px;
	font-family:arial;
	font-weight: bold;	
	color: black;
	vertical-align:top;
	padding:20px;
}

@keyframes colorchange {
	0% {
		color:red;
		transform:skew(15deg);
		letter-spacing:; 
		opacity:;
		font-size:;
	}
	100% {
		color:blue;
		transform:skew(30deg);
	}
}




.message {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	margin-top: 60px;
	font-size:30px;
	text-shadow: 0px 10px 30px;	
	font-weight: bold;
	animation: colorchange 3s infinite alternate;
}

@keyframes colorchange {
	0% { 
		color: lime;
	}

	50% {
		color:lime;
	}
	
	100% {
		color: white;
	}
}
